.body {
    display: flex;
    justify-content: center;
    background-color: #2B2B2B;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #2B2B2B;
    font-family: Arial;
}

.block {
    display: flex;
    justify-content: space-evenly;
    background-color: #383838;
    border: 5px solid black;
    margin-bottom: 40px;
    width: 1080px;
}

.video {
    background-color: grey;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 10px 10px;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 12px;
    height: 460px;
    width: 320px;
}

.info__title {
    display: flex;
    justify-content: center;
    width: 320px;
}

.info__subtitle {
    margin: 10px 0px;
}

.controlpanel {
    display: flex;
    justify-content: space-evenly;
    background-color: #383838;
    border: 5px solid black;
    width: 1080px;
}

.controlpanel__led {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 10px 10px;
    margin: 10px 10px;
    border: 2px solid black;
    border-radius: 12px;
}

.controlpanel__led__title {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.17em;
    font-weight: bold;
}

.controlpanel__led__buttons {
    display: flex;
}

.controlpanel__led__button {
    font-size: 20px;
    width: 64px;
    height: 64px;
    border-radius: 12px;
    margin: 5px 5px;
    background-color: white;
    transition-duration: 0.4s;
}

.controlpanel__led__red {
    border: 2px solid red;
}

.controlpanel__led__red:hover {
    background-color: lightcoral;
}

.controlpanel__led__green {
    border: 2px solid green;
}

.controlpanel__led__green:hover {
    background-color: lightgreen;
}

.controlpanel__led__blue {
    border: 2px solid blue;
}

.controlpanel__led__blue:hover {
    background-color: lightblue;
}